<ion-header translucent="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button (click)="settings()">
        <ion-icon slot="icon-only" name="settings"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title text-center>
      {{ reward ? (reward + '-' + (reward * 2)) : '50-100' }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="headers">
    <ion-col text-center size="6">
      <ion-row>
        <ion-col *ngFor="let u of us.team" class="team">
          {{u.alias}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>Nosotros {{counterUs ? '(' + counterUs + ')' : ''}}</ion-col>
      </ion-row>
    </ion-col>
    <ion-col text-center size="6">
      <ion-row>
        <ion-col *ngFor="let u of them.team" class="team">
          {{u.alias}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>Ellos {{counterThem ? '(' + counterThem + ')' : ''}}</ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
  
  <div class="points">
    <div class="points-container" [ngClass]="{'is-sixth': isSixth}">
      <!-- Malas -->
      <div class="points-row">
        <ion-col size="5"><ion-button fill="clear">{{us.row1 || ''}}</ion-button></ion-col>
        <ion-col size="5"><ion-button fill="clear">{{them.row1 || ''}}</ion-button></ion-col>
      </div>
      <div class="points-row">
        <ion-col size="5"><ion-button fill="clear">{{us.row2 || ''}}</ion-button></ion-col>
        <ion-col size="5"><ion-button fill="clear">{{them.row2 || ''}}</ion-button></ion-col>
      </div>
      <div class="points-row" *ngIf="isSixth">
        <ion-col size="5"><ion-button fill="clear">{{us.row3 || ''}}</ion-button></ion-col>
        <ion-col size="5"><ion-button fill="clear">{{them.row3 || ''}}</ion-button></ion-col>
      </div>
      <!-- Buenas -->
      <div class="points-row">
        <ion-col size="5"><ion-button fill="clear">{{us.row4 || ''}}</ion-button></ion-col>
        <ion-col size="5"><ion-button fill="clear">{{them.row4 || ''}}</ion-button></ion-col>
      </div>
      <div class="points-row">
        <ion-col size="5"><ion-button fill="clear">{{us.row5 || ''}}</ion-button></ion-col>
        <ion-col size="5"><ion-button fill="clear">{{them.row5 || ''}}</ion-button></ion-col>
      </div>
      <div class="points-row" *ngIf="isSixth">
        <ion-col size="5"><ion-button fill="clear">{{us.row6 || ''}}</ion-button></ion-col>
        <ion-col size="5"><ion-button fill="clear">{{them.row6 || ''}}</ion-button></ion-col>
      </div>
    </div>
  </div>
  <div class="vl"></div>
  <div class="hl"></div>
</ion-content>

<ion-footer>
  <ion-row>
    <ion-col>
      <ion-button expand="block" fill="clear" (click)="add(true)">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col>
      <ion-button expand="block" fill="clear" (click)="remove(true)">
        <ion-icon slot="icon-only" name="remove"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col>
      <ion-button expand="block" fill="clear" (click)="add()">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col>
      <ion-button expand="block" fill="clear" (click)="remove()">
        <ion-icon slot="icon-only" name="remove"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-footer>